/* 

    Components
    ----------

    000 Mixins
    010 QNbar
        0100 Qn Logo
    020 Logo / Branding
        0200 Logo Full
        0210 Logo Solo
        0220 Logotype 
    030 Search
        0300 Home
            03010 What
            03020 Where
        0310 Default
    040 Buttons
        0410 Playbutton
        0420 Google Play Store
    050 Lists
        0510 Inline
        0520 Breadcrumbs
    060 Banners
        0610 Island
        0620 Vetrina
    070 Images
        0710 Mobiles
    080 Blocks
        0800 Scaricare
        0810 Prefooter
            08110 Province
            08120 Regions
    090 Footer
    0100 Pagination
    0110 Navbar
    0120 LISTINGS (search results)
        01210 Sponsored Listings
        01220 Category List
        01230 MiniScheda
    0130 Ratings system
    0140 Reviews
    0150 Logins
    0160 SCHEDA
    0170 MINISITO
    0180 INDEXES
        01810 Cities
        01820 
    0190 WIDGETS
    0200 MODALS
        0210 Login
        

*/

/* ---------------------------------------

    000 MIXINS

----------------------------------------*/

    @padding: 30px;
    @hspace: 30px;
    @vspace: 30px;

    .padded     { padding:@padding; }
    .nopadding  { padding:0px; }

    /* Add a nice padding to mobile views (rows) */
    .hspace {  
        padding-right: @padding; 
        padding-left:@padding; 
    }
    .vspace {  
        padding-top:@padding 0px; 
        padding-bottom:@padding 0px; 
    }

    /* Small tricks */
    .halign { display:inline-block; margin-right:25px;}

    /* The old grid tricks */
    .first  { margin-left:0px; }
    .last   { margin-right:0px; }

    /* Bootstrap Container Extensions issue fix */
    .container-fluid {
        .row {
            margin-left:0px;
            margin-right:0px;
        }
    }


/* ---------------------------------------

    010 Header
        01010 QN
        01020 Navnar style tweaks
        01030 Testata


----------------------------------------*/

    .qnbar {
        display:none;
    }

    /* QN Logo */
    .qnlogo {
        width:50px;
        height:50px;
        background-image:url('../images/qn_logo.png');
        background-size:100%;
        background-repeat: no-repeat;
        background-position: center center;

        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/qn_logo.png', sizingMethod='scale'); 
        -ms-filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/qn_logo.png', sizingMethod='scale')";
    }

    /* Style navbar */
    .navbar-default .navbar-toggle, .navbar-default:focus .navbar-toggle:focus {
        border:0px;
    }

    /* Links */
    .navbar-default .navbar-nav > li > a {
       text-transform:uppercase;
        color:#333; 
        font-weight:600;
    }

    /* Testata */
    .testata {
        .logo {
            margin:0 auto;
        }
    }


/* ---------------------------------------

    020 Branding
    Pronto Imprese Branding
        0200 Logo
        0210 Logo on white
        0220 Small Logo on dark
        0230 Bee Only Logo

----------------------------------------*/

    .logo {

        /* Use background images defaults */
        background-image:url('../images/logo.png');
        background-repeat:no-repeat;
        background-position:center center;
        /* ie8 Fix */
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/logo.png', sizingMethod='scale');                                                            
        -ms-filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/logo.png', sizingMethod='scale')";

        /* Set a default height */
        height:120px;

        /* Variations */
        &.dark {
            background-image:url('../images/logo_solo_nero.png');
            /* ie8 Fix */
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/logo_solo_nero.png', sizingMethod='scale');                                                            
            -ms-filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/logo_solo_nero.png', sizingMethod='scale')";
        }
        &.small {
            height:46px;
            width:80px;
            background-size:100%;
        }
        &.vsmall {
            height:60px;
            /* Make it smaller */
            background-size:20%;
        }
        &.solo {
            background-image:url('../images/bee.png');
            /* ie8 Fix */
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/bee.png', sizingMethod='scale');                                                            
            -ms-filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://127.0.0.1:9000/images/bee.png', sizingMethod='scale')";
            width:80px;
            height:56px;
        }

    }



/* ---------------------------------------

    030 SEARCH


----------------------------------------*/

    .search {
        background-color:@dark;

        .search-box {
            padding:10px;
            .input-group {
                margin-bottom:10px;
                .fa {
                    color:@gray-light;
                }
                input {
                    font-weight: 200;
                    border:none;
                }
            }
            .btn {
            }
        }

        /* Remove bootstrap shadow */
        .form-control {
            box-shadow:none;
        }

        .filled {
            background-color:@primary;
        }


        .ricerca-avanzata {
            display:none;
        }

    }


/* ---------------------------------------

    040 Buttons
        0400 Pronto buttons
        0410 Google Play

----------------------------------------*/


    /* Button Style for Pronto on Dark */
    .btn-pronto {
        text-transform:uppercase;
        font-weight:200;
        font-size:11px;
        background-color:lighten(@dark,15%);
        color:lighten(@primary, 10%);   
        &.inverse {
            background-color:@primary;
            color:@dark;
        }
        &:hover {
            color:@primary;
            background-color:lighten(@dark,25%);
        }
    }

    .btn-advanced-search {
        margin:5px;
    }

    /* Big round buttons here */
    .btn-round {
        margin-right:20px;   
        border-radius:25px;
        height:50px;
        width:50px;
    }


    .button {
        .play {
            
        }
        &.googleplay {
            background-image:url('../images/androidapp_play.png');
            background-repeat:no-repeat;
            background-size:100%;
            height:67px;
            .center-block();
        }
    }


/* ---------------------------------------

    050 LISTS
        0510 Inline
        0520 Breadcrumbs

----------------------------------------*/

    ul {
       padding:0px; 

        &.breadcrumb {
            background-color:transparent;
            a {
                color:@text-color;
            }
            &> li + li:before {
                color: @text-color;
            }


        }
    }



/* ---------------------------------------

    060 BANNERS
        0620 Island
        0630 300x100


----------------------------------------*/

   .banner {
        background-color:@primary;
        margin:@vspace 0px;
        &.island {
            width:300px;
            height:250px;
        }

        &.vetrina {
            width:300px;
            height:100px;
        }
    }


/* ---------------------------------------

    070 Images
        0710 Mobiles

----------------------------------------*/

    .featured-image {
        background-position:center center;
        background-size:cover;
        margin-top:0px;
        margin-bottom:10px;

        /* Put fa icons in the center of the image */
        a { 
            display:block;
            text-align:center;
            padding:50px;
            opacity:0.8;
            &:hover {
                opacity:1;
            }
            .fa {
                color: white;
                font-size: 20px;
                border: 1px solid white;
                border-radius: 35px;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }
        }
    }


    .gmap {
        padding:0px;
    }

/* ---------------------------------------

    080 BLOCKS
        0800 Scaricare
        0810 Prefooter

----------------------------------------*/

    .scaricare {
        .caps {
            text-transform:uppercase;
            padding:10px 0px;
        }
        .googleplay {
            width:194px;
        }
    }

    .prefooter {
        padding:10px @hspace;
        font-size:80%;
        ul {
            margin-bottom:0px;
        }
    }


/* ---------------------------------------

    090 FOOTER
        

----------------------------------------*/

    .footer {
        .dark;
        padding-top:50px;
        padding-bottom:50px;
        font-size:90%;
        color:@gray-lighter;

        .quick-links {
            a {
                color:@gray-lighter;
                text-transform:lowercase;
            }
        }

        /* Add some spacing around Google Play */
        .googleplay {
            margin-top:50px;
            margin-bottom:50px;
        }

        /* Add space above logins in the footer */
        .logins {
             // margin-top:50px;
        }

        .footnote {
            margin-top:20px;
        }
    }



/* ---------------------------------------

    0100 PAGINATION


----------------------------------------*/

    ul.pager {
            li:first-child, li:last-child {
                a {
                    background-color:white;
                    &:hover {
                        background-color:@gray-lighter;
                    }   
                }
            }
            li.active {
                a {
                    .primary;
                }
            }
    }

    .pager li > a, .pager li > span {
        padding: 7px 14px;
        color:@text-color;
        font-weight:700;
        background-color:@gray-lighter;
    }


/* ---------------------------------------

    0110 Navbar


----------------------------------------*/

    .navbar {
        margin-bottom:0px;
    }



/* ---------------------------------------

    0120 Listings (search results)
        01210 Sponsored Listings
        01220 Category List
        01230 MiniScheda
----------------------------------------*/

    .intro {
        margin-bottom:1em;
    }

    .listings {
        /* Listings Header and intro */
        header.intro {
            h1 {
                margin-bottom:0px;
            }
            p {
                font-size:13px;
                font-weight:200;
                margin:5px 0px;
            }
        }
    }

    /* Listing item itself */
    .listing {
        margin-top:20px;

        .h3 {
            font-weight:200;
            text-transform:uppercase;
            letter-spacing:1px;
            margin:0px;
            a {
                color:#1166dd;
            }
        }

        .meta {
            margin:2px 0px;
        }

        /* Add some padding above the user review here */
        .user-ratings { 
            .stars {
                font-size:16px;
            }
        }

    }

    /* Sponsor Headings */
    .sponsor-label {
        background:@primary;
        color:@gray;
        padding:5px;
        font-weight:200;
        font-style:italic;
        font-size:13px;
        margin-top:0px;
    }



    /* Category list  */
   .categories {
        text-transform:uppercase;
        font-size:11px;
        .fa {
            display:block;
            padding:10px;
            color:@gray-light;
            font-size:24px;
        }
        .nav-justified > li > a {
            color:@gray-light;
        }
    } 


    .contact-details {
        color:@gray-light;
        p {
            margin:0px;
            font-size:12px;
        }
        
        .fa {
            font-size:38px;
            color:@gray-light;
        }
    }



/* ---------------------------------------

0130 Ratings
        01310 User Rating
        01320 Stars
        01330 Widget Simple

----------------------------------------*/


    .user-ratings {
        &.large {
            font-size:22px;
            .centered;
            .stars {
                font-size:26px;
                margin-right:0.5em;
            } 
        }
        ul {
            display:inline-block;
        }
    }

    .user-rating {
        display:inline-block;
        margin-right:15px;
        color: @primary;
        &.review-count {
            a {
                font-size:18px;
            }
        }
    }

    .stars {
        li {
            padding:0px;
        }
        .glyphicon, .fa {
            color:@gray-light;
            &.active {
                color:@primary;
            }
        }
    }

    // Ratings list
    .ratings {
        .stars {
            padding-left:80px;
    }
        dt {
            float:left;
        }
    }

    .ratings-widget {
        margin:20px;
        &.simple {
            padding:5px;
            background-color:@gray-lighter;
        }
        ul { 
            margin-bottom:0px; 
            a.btn-pronto:hover {
                .btn-pronto.inverse;
            }
        }
    }

/* ---------------------------------------

    0140 Reviews
        01410 Reviews
        01420 Review
        01430 New Review
----------------------------------------*/

    .reviews {
        ul.nav-pills {
         li {
                a {
                    .btn-pronto;
                    &:hover {
                        .btn-pronto.inverse;
                    }
                }
            &.disabled {
                font-size:12px;
                color:#eee;
                padding:10px 15px;
            }
            }
        }
    }
    
    .review {
        padding:20px 0px;

        .date {
            margin:0px;
        }
    
        h1 {
            font-size:18px;
            font-weight:700;
            color:#f90;
            margin:0.5em 0em;
        }

        h2 {
            margin-top:0px;
            margin-bottom:0.5em;
        }

        .highlight {
            color:@gray-light;
        }

        .comment {
            clear:both;
            margin:0.5em 0em;
        }

        border-bottom:1px solid @gray-lighter;

    }

    .new-review {
        display:none;

        h3 {
            font-size: 16px;
            color: #f60;
            font-weight: bold;
        }

        .form-inline .form-control {
            width:40%;
        }
    
        /* Thumbs */
        .fa {
            font-size:28px;
            padding:10px 10px 0px 0px;
        }

        .fa-thumbs-up {
            color:@primary;
        }
        
        .pB20 {
        padding-bottom:10px;
    }

    }

/* ---------------------------------------

    0150 LOGINS

----------------------------------------*/

    .logins {
        .centered;

        a {
            color:@gray-light;
        }

        ul {
            li { 
                font-size:12px; 
                color:@gray-lighter;
            }
            &.nav-pills {
                & > li {
                    a { 
                        color:@primary;
                        background:black; 
                    }
                }
            }
        }
    }


/* ---------------------------------------

    0160 SCHEDA
        01600 Scheda Tweaks
        01610 Map
        01620 Address
        01630 Options


----------------------------------------*/

    .schedina {
        h2 {
            margin-top:5px;
        }

        /* Images */
        .featured-image {
            height:200px;
        }

        h1 {
            margin-top:0px;
            font-size:34px;
        }

        .user-ratings {
            text-align:left;
        }

        ul.nav-pills {
         li {
                a {
                    .btn-pronto;
                    &:hover {
                        .btn-pronto.inverse;
                    }
                }
            &.disabled {
                font-size:12px;
                color:#eee;
                padding:10px 15px;
            }
            }
        }

        /* Foto legends (little tags over fotos) */
        .legend {
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 7px;
            font-size: 11px;
            .primary.inverse;
        }

    }

   .mappa {
        height:150px;
        width:100%;   
        background-color: @gray-lighter;
        border-bottom:2px solid @primary;
    }
        
    .address {
        padding:10px 0px;
        p {
            margin-bottom:5px;
            color:grey;
            &.strong {
                color:black;
            }
        }
    }


    .options {
        .dark;
        padding:5px;
        border-top:4px solid @primary;
        margin-bottom:10px;
        ul {
            padding:2px;
            &.nav-pills {
             li {
                    a {
                        .btn-pronto;
                        &:hover {
                            .btn-pronto.inverse;
                        }
                    }
                &.disabled {
                    font-size:12px;
                    color:#eee;
                    padding:10px 15px;
                }
                }
            }
        }
    }



/* ---------------------------------------

    0170 MINISITO


----------------------------------------*/

   .minisito {
        
        .schedina {
            /* Modify h1 styles for minisito */
            h1 {
                font-size:32px;
                color:@primary;
                margin-top:1em;
            }
        }


        /* */
        .mappa {
            border:4px solid @primary;
            height:250px;
            width:100%; 
            margin:10px 0px;
        }

        .description {
            padding:@vspace @vspace;
                img {
                    width:100%;     
                    margin:@vspace 0px; 
                }
        }
   }




/* ---------------------------------------

    0180 INDEXES
        08180 Cities


----------------------------------------*/

    ul.index {
        .primary;
        text-align:center;
        list-style:none;
        padding:1em 0em;
        margin:1em 0em;
        li {
            display:inline;
            a {
                font-weight:800;
                font-size:17px;
                padding:2px;
            }
        }
    }

    .index-list {
        ul {
            list-style:none;
            li a {
                color:@text-color;
            }
        }
    } 


/* ---------------------------------------

   0180  Key


----------------------------------------*/

    .key {
        .gmap {
            height:300px;
        }
    }


/* ---------------------------------------

   0190 Widgets


----------------------------------------*/

    .social-widget {
        .primary;
        margin:20px 0px;

        span {
            float:left;
            padding:20px;
        }

        .widgetarea {
            margin-left:50px;
            background-color:@gray-lighter;
            min-height:200px;
        }
    }

/* ---------------------------------------

   0200 MODALS
        0210 Login


----------------------------------------*/

    .loginModal {
        .form-control {
            border:1px solid @gray-lighter;
            margin:5px 0px;
            box-shadow:none;
        }
    }


/* ---------------------------------------

   Home tweaks 


----------------------------------------*/

    .home {
        .testata {
            width:300px;
            margin:0 auto;
        }
        .search {
            background-color:white;
            input, .btn {
                border:1px solid @gray-lighter;
            }            
        }
    }

