/*

Palette
-------

*/


@primary: #fecf0f;

/* Shades */
@dark: #333;

/* ---------------------------------------

    010 Block Styles


----------------------------------------*/

    .primary {
        background:@primary;
        a {
            color:@gray-dark;
        }
    }

    .dark {
        background:@dark;
        color:@gray-light;
        a {
            color:@gray-light;
        }
    }
