/*

    TYPOGRAPHY
    ----------

    000 Fonts
    010 Mixins
    020 Headers
    030 Paragraph (Body)
    040 Links
    050 Lists
    060 Listings
        0600 Basic Listing
        0610 Sponsored


*/


/* ---------------------------------------

    000 FONTS


----------------------------------------*/

    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);


    /* Set font family for all */
    body,h1,h2,h3,h4,h5,h6,p {
        font-family:"Open Sans", Helvetica, Arial, sans-serif;
    }

/* ---------------------------------------

    010 Mixins


----------------------------------------*/

    .centered {
        text-align:center;
    }


/* ---------------------------------------

    020 Headers


----------------------------------------*/

    h1 {
        font-weight:200;
        font-size:24px;
    }

    h2 {
        font-weight:200;
        font-size:18px;
    }
 
/* ---------------------------------------

    040 Links


----------------------------------------*/

    a {
        color:@dark;
    }


/* ---------------------------------------

    060 Listings
        0600 
        0610 Basic
        0620 Sponsored
        0630 Meta


----------------------------------------*/

    .meta {
        text-transform:uppercase;
        font-size:12px;
        a {
            color:@gray-light;
        }
    }

