/*

    TYPOGRAPHY
    ----------

    000 Fonts
    010 Mixins
    020 Headers
    030 Paragraph (Body)
    040 Links
    050 Lists

*/


/* ---------------------------------------

    000 FONTS


----------------------------------------*/

    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);


    /* Set font family for all */
    body,h1,h2,h3,h4,h5,h6,p {
        font-family:"Open Sans", Helvetica, Arial, sans-serif;
    }

/* ---------------------------------------

    010 Mixins


----------------------------------------*/

    .centered {
        text-align:center;
    }


/* ---------------------------------------

    020 Headers


----------------------------------------*/

    h1, .h1 {
        font-weight:200;
        font-size:24px;
    }

    h2, .h2 {
        font-weight:200;
        font-size:24px;
    }

    h3, .h3 {
        font-weight:200;
        font-size:18px;
    }
 
/* ---------------------------------------

    030 Body


----------------------------------------*/

    p {
       font-weight:200; 
       &.large {
            font-size:18px;
       }
    }

/* ---------------------------------------

    040 Links


----------------------------------------*/

    a {
        // color:@dark;
    }


/* ---------------------------------------

    050 LISTS
        0510 Navbar

----------------------------------------*/

    li {
        font-weight:300;
    }




/* ---------------------------------------

    060 GENERIC

----------------------------------------*/

    /* Small subtitle style, usually under a title */
    .meta {
        text-transform:uppercase;
        font-size:12px;
        font-weight:400;
        margin-bottom:0px;
        a {
            color:@gray;
        }
        li {
            font-weight:400;
        }
    }
